@page
@model AguadeCactus.WebSite.Pages.Product.Add


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AguadeCactus.WebSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/product.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/AguadeCactus.WebSite.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css"/>
        
</head>
<body>
<div class="container mt-5">
    <form method="post">
        <h1 class="text-white">Productos</h1>
        <div>
            <input type="hidden"/>
            <label asp-for="ProductDto.Name" class="text-white">Nombre</label>
            <input asp-for="ProductDto.Name" type="text" class="form-control" placeholder="Nombre" maxlength="45">
            <span class="text-danger" asp-validation-for="ProductDto.Name"></span>
                        
            <br/>
            <label asp-for="ProductDto.Price" class="text-white">Precio</label>
            <input asp-for="ProductDto.Price" type="number" class="form-control" placeholder="Precio">
            <span class="text-danger" asp-validation-for="ProductDto.Price"></span>
            
            <br/>
            <div class="form-group">
                <label asp-for="ProductDto.Size" class="text-white">Tamaño</label>
                <select asp-for="ProductDto.Size" id="inputSize" class="form-control">
                    <option selected>Chico</option>
                    <option>Mediano</option>
                    <option>Grande</option>
                </select>
                <span class="text-danger" asp-validation-for="ProductDto.Size"></span>
            </div>
            
            <br/>
            <div class="form-group">
                <label asp-for="ProductDto.IdCategory" class="text-white">Categoria</label>
                <select id="Category" name="SelectedOption" class="form-control" asp-for="ProductDto.IdCategory">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.id">@category.Name</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="ProductDto.IdCategory"></span>
            </div>
            
            
            
            <div class="form-group">
                <label asp-for="ProductDto.Description" class="text-white">Descripción</label>
                <textarea asp-for="ProductDto.Description" class="form-control" id="FormControlDescription" rows="3" placeholder="Descripción", maxlength="100"></textarea>
                <span class="text-danger" asp-validation-for="ProductDto.Description"></span>
            </div>
            <br/>

            

        </div>
            <button type="submit" class="btn btn-light btn-lg btn-block">Guardar</button>
            <a href="/Index" class="btn btn-light btn-lg btn-block">Cancelar</a>
        @if (Model.Errors.Count > 0) 
        { 
            <div class="alert alert-danger" role="alert">
                <ul>
                    @foreach (var error in Model.Errors)
                    {
                        <li>An error</li>
                    }
                </ul>
            </div> 
        }
        
    </form>
    
    
    

</div>
</body>
</html>