@page "{id:int}"
@model AguadeCactus.WebSite.Pages.Promotion.Edit



<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AguadeCactus.WebSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/promotion.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/AguadeCactus.WebSite.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css"/>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2>Editar Promoción</h2>
            <form method="post">
                
                <input type="hidden" asp-for="PromotionDto.id"/>
                <div class="form-group">
                    <label asp-for="PromotionDto.Name"></label>
                    <input asp-for="PromotionDto.Name" class="form-control" maxlength="45"/>
                    <span class="text-danger" asp-validation-for="PromotionDto.Name"></span>
                </div>
                
                
                <div class="form-group">
                    <label for="inputDuration">Duración</label>
                    <select asp-for="PromotionDto.Duration" id="inputDuration" class="form-control">
                        <option selected>1 día</option>
                        <option>2 días</option>
                        <option>3 días</option>
                        <option>1 semana</option>
                        <option>2 semanas</option>
                        <option>3 semanas</option>
                        <option>1 mes</option>
                    </select>
                    <span class="text-danger" asp-validation-for="PromotionDto.Duration"></span>
                </div>
                
                
                
                <div class="form-group">
                    <label for="FormControlDescription"></label>
                    <textarea asp-for="PromotionDto.Description" class="form-control" id="FormControlDescription" rows="3" placeholder="Descripción", maxlength="45"></textarea>
                    <span class="text-danger" asp-validation-for="PromotionDto.Description"></span>
                </div>
                
                
                
                @if (Model.Errors.Count > 0)
                {
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            @foreach (var error in Model.Errors)
                            {
                                <li>An error</li>
                            }
                        </ul>
                    </div>
                }

                <br/>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-light btn-lg btn-block mb-2">Guardar</button>
                        <a href="/Promotion/AddPromotion" class="btn btn-light btn-lg btn-block mb-2">Cancelar</a>
                        
                    </div>
                </div>
            </form>
        </div>
        
        <div class="col-md-1"></div>
    </div>
</div>
</body>
</html>