@page
@model AguadeCactus.WebSite.Pages.Category.Add



<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AguadeCactus.WebSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/category.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/AguadeCactus.WebSite.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css"/>
</head>
<body>
<div>
    
    <div>
        <h1 class="text-white">Categorias y pagos</h1>
        <h2 class="text-white">Categorias</h2>
        <input type="text" class="form-control" placeholder="Nombre">
        <input type="text" class="form-control" placeholder="Descripcion">
        <a href="" class="btn btn-light btn-lg btn-block">Agregar</a>
        <a href="" class="btn btn-light btn-lg btn-block">Cancelar</a>
        
        <div class="container">
            <div class="quantity-container">
                <span class="quantity-label">Cantidad</span>
                <button class="btn btn-sm" id="decrement">-</button>
                <input type="text" id="quantity" value="1" readonly>
                <button class="btn btn-sm" id="increment">+</button>
            </div>
        </div>
    </div>
    <div>
        <h2 class="text-white">Pagos</h2>
        <input type="text" class="form-control" placeholder="Nombre">
        <input type="text" class="form-control" placeholder="Descripcion">
        <a href="" class="btn btn-light btn-lg btn-block">Agregar</a>
        <a href="" class="btn btn-light btn-lg btn-block">Cancelar</a>
        
    </div>
</div>
<br/>
<script>
        document.addEventListener('DOMContentLoaded', function () {
            const decrementButton = document.getElementById('decrement');
            const incrementButton = document.getElementById('increment');
            const quantityInput = document.getElementById('quantity');

            decrementButton.addEventListener('click', function () {
                let currentValue = parseInt(quantityInput.value);
                if (currentValue > 1) {
                    quantityInput.value = currentValue - 1;
                }
            });

            incrementButton.addEventListener('click', function () {
                let currentValue = parseInt(quantityInput.value);
                quantityInput.value = currentValue + 1;
            });
        });
    </script>
</body>
</html>