@page
@model AguadeCactus.WebSite.Pages.Sale.AddSalesDetail

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AguadeCactus.WebSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/sale.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/AguadeCactus.WebSite.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css"/>
</head>
<body>
<div>
    
    <div>
        <h1 class="text-white">Ventas</h1>
        <h2 class="text-white">Detalles</h2>

        <div class="form-group col-md-4">
            <label for="inputProduct">Producto</label>
            <select id="inputProduct" class="form-control">
                <option selected>Producto</option>
                <option>...</option>
                <option>...</option>
            </select>
        </div>
        <div class="container">
            <div class="quantity-container">
                <span class="quantity-label">Cantidad</span>
                <button class="btn btn-sm" id="decrement">-</button>
                <input type="text" id="quantity" value="1" readonly>
                <button class="btn btn-sm" id="increment">+</button>
            </div>
        </div>
        <input type="text" class="form-control" placeholder="Subtotal">
    </div>
    <div>
        <h2 class="text-white">Venta</h2>
        <div class="form-group col-md-4">
            <label for="inputPaymentMethod">Método de pago</label>
            <select id="inputPaymentMethod" class="form-control">
                <option selected>Efectivo</option>
                <option>Transferencia</option>
                <option>Tarjeta</option>
            </select>
        </div>
        <input type="text" class="form-control" placeholder="Total">
    </div>
</div>
<br/>
<div>
    <a href="" class="btn btn-light btn-lg btn-block">Finalizar</a>
    <a href="" class="btn btn-light btn-lg btn-block">Borrar</a>
    <a href="" class="btn btn-light btn-lg btn-block">Actualizar</a>
    <a href="" class="btn btn-light btn-lg btn-block">Cancelar</a>
    
</div>
<script>
        document.addEventListener('DOMContentLoaded', function () {
            const decrementButton = document.getElementById('decrement');
            const incrementButton = document.getElementById('increment');
            const quantityInput = document.getElementById('quantity');

            decrementButton.addEventListener('click', function () {
                let currentValue = parseInt(quantityInput.value);
                if (currentValue > 1) {
                    quantityInput.value = currentValue - 1;
                }
            });

            incrementButton.addEventListener('click', function () {
                let currentValue = parseInt(quantityInput.value);
                quantityInput.value = currentValue + 1;
            });
        });
    </script>
</body>
</html>