html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.center-image-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.center-image-container img {
    width: 200px;
    height: 200px;
}

.center-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.center-image-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}


.form-control{
    background-color: black;
}
.container-custom {
    border: 1px solid white;
    padding: 20px;
    margin-bottom: 20px;
}
.btn-group-vertical {
    display: flex;
    flex-direction: column;
}

h2{
    color: white;
}
td{
    color: white;
}
th{
    color: white;
}
h3{
    color: white;
}
